.card-form {
    display: flex;
    flex-direction: column !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-content-form {
    display:flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
}

.text-field {
    margin: 5px 0 !important;
}